:root {
  --main-primary: #2464ad;
  --main-secondary: #e2f0ff;
}

body {
  background-color: var(--main-primary);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  float: right;
  align-self: center;
  display: flex;
}

.MuiAvatar-root {
  margin: 9px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 24px 24px 24px 24px;
  width: calc(100% - 472px);
  gap: 24px;
  justify-content: space-evenly;
  max-height: 350vh;
}

.imageContainer {
  position: relative;
  padding-bottom: calc((100% - 170px) * (9 / 16));
  order: 1;
}

.sidebar {
  /* grid-column-start: sidebar;
  grid-column-end: sidebarEnd; */
  flex-basis: 100%;
  color: white;
  margin-bottom: 75vh;
  order: 5;
  width: 400px;
}

.break {
  flex-basis: 100%;
  height: 100%;
  width:100%;
  order: 4;
}

.imagesMain {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 150px;
  justify-self: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.imageSmall {
  width: 90%;
  padding: 5%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.blasterActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.cardHolder {
  max-width: 90%;
  margin: 40px auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.blasterCardWrapper {
  display: flex;
  flex-direction: column;
  width: 325px;
  justify-content: flex-start;
  text-align: left;
  justify-self: center;
}

.footerWrap {
  position: "sticky";
  bottom: 0;
  width: "100%";
}

.coolScroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.coolScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.coolScroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px var(--main-primary);
  box-shadow: inset 0 0 6px var(--main-primary);
}

.heroImg {
  width: calc(100% - ((9 / 16) * 10%));
  height: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  object-fit: cover;
}

.imgCard {
  display: flex;
  width: 100%;
  flex-basis: auto;
  justify-self: center;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.description {
  display: flex;
  flex-direction: column;
  grid-column-start: imageSelect;
  grid-column-end: heroEnd;
  width: 100%;
  grid-row-start: 3;
  grid-row-end: 3;
}

.tabBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 3;
}

.addImageCard {
  margin-top: 20px;
  margin-bottom: 20px;
  order: 2;
}

.addImageButton {
  width: 10%;
  height: 54px;
}

@media only screen and (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 12px 0px 0px 0px;
    width: 100%;
    gap: 0px;
    justify-content: space-evenly;
    max-height: max-content;
  }

  .break {
    order: 4;
  }

  .sidebar {
    grid-column-start: 1;
    margin: 12px;
    width: calc(100% - 24px);
    order: 3;
  }

  .imgCard {
    grid-column-start: 1;
    margin: 12px;
    width: auto;
  }

  .imagesMain {
    grid-column-start: 1;
    margin: 0px 12px 12px 12px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 120px;
    width: auto;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    padding-bottom: calc((100% * (9 / 16)) + 132px);
  }

  .flexList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
  }
  .imageSmall {
    width: 150px;
    padding: 5%;
  }
  .description {
    margin: 12px;
    width: auto;
  }
  .tabBox {
    margin: 24px 12px 12px 12px;
    width: calc(100% - 24px);
    order: 5;
  }

  .addImageCard {
    margin: 12px;
    width: auto;
  }

  .addImageButton {
    width: auto;
  }
}

button {
  align-self: center;
}

.title {
  align-self: center;
  margin: 12px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideHead {
  height: 60px;
  display: flex;
  align-items: center;
}

.navLink {
  padding: 20px;
  color: white;
}

.addMainGrid {
  display: grid;
  margin-top: 50px;
}

.addSideBar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
  margin: 30px 0px 0px 5%;
}

.checkGrid {
  display: grid;
  grid-column: auto auto;
}

.addImage {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.addImageContainer {
  position: relative;
  width: 100%;
  padding-bottom: calc((100% - 170px) * (9 / 16));
}

@media only screen and (max-width: 900px) {
  .addImage {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .addImageContainer {
    position: relative;
    width: 100%;
    padding-bottom: calc((100% * (9 / 16)) + 162px);
  }
}
