.App {
  text-align: center;
}

:root {
  --main-primary: #2464ad;
  --main-secondary: #e2f0ff;
}

body {
  background-color: var(--main-primary);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  float: right;
  align-self: center;
  display: flex;
}

.MuiAvatar-root {
  margin: 9px;
}

.main {
  display: grid;
  margin-top: 50px;
  grid-template-columns:
    [first] 40px [imageSelect] 150px [heroMargin] 30px [hero] minmax(250px, 2fr)
    [heroEnd] 50px [sidebar] minmax(250px, 1fr) [sidebarEnd] 50px [end];
  grid-template-rows: [main] auto [second] 100px [third] auto;
}

.imagesMain {
  display: flex;
  grid-column-start: imageSelect;
  grid-column-end: heroMargin;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  max-height: 600px;
  justify-self: center;
  justify-content: flex-start;
  flex-direction: column;
}

.imageSmall {
  width: 90%;
  padding: 5%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.blasterActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.cardHolder {
  max-width: 90%;
  margin: 40px auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.blasterCardWrapper {
  display: flex;
  flex-direction: column;
  width: 325px;
  justify-content: flex-start;
  text-align: left;
  justify-self: center;
}

.footerWrap {
  position: "sticky";
  bottom: 0;
  width: "100%";
}

.coolScroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.coolScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.coolScroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px var(--main-primary);
  box-shadow: inset 0 0 6px var(--main-primary);
}

.heroImg {
  width: calc(100% - ((9 / 16) * 10%));
  height: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  object-fit: cover;
}

.imgCard {
  display: flex;
  grid-column-start: hero;
  grid-column-end: heroEnd;
  width: 100%;
  justify-self: center;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.sidebar {
  grid-column-start: sidebar;
  grid-column-end: sidebarEnd;
  width: 100%;
  color: white;
  height: auto;
  grid-row: 1;
}

@media only screen and (max-width: 900px) {
  .main {
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(450px, 1fr) minmax(150px, 1fr) 3fr;
  }

  .sidebar {
    grid-column-start: 1;
    margin: 10px;
    width: auto;
  }

  .imgCard {
    grid-column-start: 1;
    margin: 10px;
    width: auto;
  }

  .imagesMain {
    grid-column-start: 1;
    margin: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100px;
    width: auto;
  }
  .flexList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
  }
  .imageSmall {
    width: 150px;
    padding: 5%;
  }
}

button {
  align-self: center;
}

.title {
  align-self: center;
  margin: 10px;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  grid-column-start: imageSelect;
  grid-column-end: heroEnd;
  width: 100%;
  grid-row-start: 3;
  grid-row-end: 3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideHead {
  height: 60px;
  display: flex;
  align-items: center;
}

.navLink {
  padding: 20px;
  color: white;
}
