:root {
  --main-primary: #2464ad;
  --main-secondary: #e2f0ff;
}

body {
  background-color: var(--main-primary);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  float: right;
  align-self: center;
  display: flex;
}

.MuiAvatar-root {
  margin: 9px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 24px 24px 24px 24px;
  width: calc(100% - 472px);
  gap: 24px;
  justify-content: space-evenly;
  max-height: 350vh;
}

.imgBox {
  grid-column: main;
  grid-row: image;
}

.imageContainer {
  position: relative;
  padding-bottom: calc((100% - 170px) * (9 / 16));
  display: flex;
  justify-content: flex-end;
  /* margin: 10px; */
}

.sidebar {
  /* grid-column-start: sidebar;
  grid-column-end: sidebarEnd; */
  /* flex-basis: 100%;
  color: white;
  margin-bottom: 75vh;
  order: 5;
  width: 400px; */
  min-width: 250px;
  max-width: 400px;
  width: calc(100%-20px);
  /* margin: 10px;
  margin-top: 15px; */
  grid-column: sidebar;
  grid-row: image / span 5;
  color: white;
  background-color: #282c34;
}

.break {
  flex-basis: 100%;
  height: 100%;
  width: 100%;
  order: 4;
}

.gridMain {
  display: grid;
  grid-template-columns: [marginLeft] 1fr [main] calc(60vw) [padding] 24px [sidebar] minmax(25%, 380px) [marginRight] 1fr;
  grid-template-rows: [image] auto [tabs] auto;
  grid-auto-columns: auto;
  width: 100%;
  margin-top: 24px;
}

.imagesMain {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 150px;
  justify-self: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.imageSmall {
  width: 90%;
  padding: 5%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.blasterActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap:4px;
}

.detailGrid {
  display: grid;
  grid-template-columns: [image] 128px [name] 2fr [creator] 1fr [propulsion] 80px [fps] 120px [links] 120px [actions] 300px;
  width: calc(100%-24px);
  margin: 12px;
}

.cardHolder {
  max-width: 90%;
  margin: 40px auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.profileCardHolder {
  /* max-width: 90%; */
  margin: 40px auto;
  margin-left: 5%;
  width:90%;
  display: flex;
  flex-direction: column;
}

.profileCard{
  width: 90%;
  margin: 24px 0px 0px 5%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profileFields{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.searchHome .ais-Hits-list{
  max-width: 90%;
  margin: 40px auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.searchHome .ais-Hits-list .ais-Hits-item{
  border-radius: 0px;
  background: 0;
  box-shadow: none;
}

.react-multi-carousel-item{
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.blasterCardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  justify-self: center;
  max-width: 325px;
}

.menu{
  margin: 0px 20px 0px 10px;
  display: flex;
  justify-content: center;
}

.menuIcon{
  padding:6px !important;
  min-width: 0px !important;
}

.menuItem{
  padding:2px !important;
}

.menuButton{
  justify-content: flex-start !important;
  font-weight: 700 !important;
  gap: 10px;
  width:100%;
}

.footerWrap {
  position: "sticky";
  bottom: 0;
  width: "100%";
}

.coolScroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.coolScroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.coolScroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px var(--main-primary);
  box-shadow: inset 0 0 6px var(--main-primary);
}

.heroImg {
  width: calc(100% - ((9 / 16) * 10%));
  height: 90%;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  object-fit: cover;
}

.imgCard {
  display: flex;
  width: 100%;
  flex-basis: auto;
  justify-self: center;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.description {
  padding: 12px;
  min-height: 50px;
}

.tabBox {
  display: flex;
  flex-direction: column;
  grid-column: main;
  grid-row: tabs;
  width: 100%;
  order: 3;
  margin-top: 20px;
}

.addDesc {
  min-height: 300px;
  margin: 12px;
  position: relative;
}

.addImageCard {
  margin-top: 20px;
  margin-bottom: 20px;
  order: 2;
}

.addImageButton {
  width: 10%;
  height: 54px;
}

.searchCTA{
  width: calc(50%-48px);
  aspect-ratio: 2/1;
  margin: 100px 25% 100px 25%;
  display: flex;
  justify-content: center;
  padding: 24px;
  align-items: center;
  background-image: url(img/blasters.jpg);
  background-size: 110% 145%;
  background-position: center;
}

.searchCTAText{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 3%;
}

.searchCTAButton{
  font-size: 1.2em !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 900px) {

  .gridMain {
    grid-template-rows: [image] auto [sidebar] auto [tabs] auto;
    grid-template-columns: [main] 100%;
    margin-top: 0px;
  }

  .sidebar {
    grid-column: main;
    grid-row: sidebar;
    max-width: 900px;
    margin: 12px;
  }

  .imgBox {
    justify-content: center;
  }

  .imgCard {
    grid-column-start: 1;
    margin: 12px;
    width: auto;
  }

  .imagesMain {
    grid-column-start: 1;
    margin: 0px 12px 0px 12px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 120px;
    width: auto;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    padding-bottom: calc((100% * (9 / 16)) + 132px);
  }

  .flexList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
  }

  .imageSmall {
    width: 150px;
    padding: 5%;
  }

  .description {
    margin: 12px;
    width: auto;
  }

  .tabBox {
    margin: 24px 12px 12px 12px;
    width: calc(100% - 24px);
    order: 5;
  }

  .addImageCard {
    margin: 12px;
    width: auto;
  }

  .addImageButton {
    width: auto;
  }
}

button {
  align-self: center;
}

.title {
  align-self: center;
  margin: 12px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sideHead {
  height: 60px;
  display: flex;
  align-items: center;
}

.navLink {
  padding: 20px;
  color: white;
}

.addMainGrid {
  display: grid;
  margin-top: 50px;
}

.addSideBar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 90%;
  margin: 30px 0px 0px 5%;
}

.checkGrid {
  display: grid;
  grid-column: auto auto;
}

.addImage {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.addImageContainer {
  position: relative;
  width: 100%;
  padding-bottom: calc((100% - 170px) * (9 / 16));
}

@media only screen and (max-width: 900px) {
  .addImage {
    flex-direction: column-reverse;
    gap: 0px;
  }

  .addImageContainer {
    position: relative;
    width: 100%;
    padding-bottom: calc((100% * (9 / 16)) + 162px);
  }
}

.ais-Hits-item{
  list-style-type: none;
  padding: 0px;
}

.ais-Hits-list{
  padding-inline-start: 0px;
}

.searchBox{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 12px;
  max-width: 300px;
  flex-grow: 1;
  padding: 20px;
}

/* INPUT */
.searchHeader {
  height: 80px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.ais-SearchBox{
  flex-grow: 2;
}

.hitsContainer{
  flex-grow: 2;
}

.sortContainer{
  display: flex;
  flex-direction: column;
}

.blasterCardMedia {
  transition: 0.2s all ease-in-out;
}

/* .blasterCardMedia:hover {
  transform: scale(1.1);
} */

.blasterCardWrapper:hover .blasterCardMedia {
  transform: scale(1.15);
}